
.contact-container{
    position: absolute;
    top:0;
    width:auto;
    width:100%;
    height:100%;
    color:rgba(255, 255, 255, 0.87);
    .contact-title{
        display: flex;
        h2{ 
            color:rgb(0, 0, 0);
            position: relative;       
            background-color: rgb(236, 236, 236);
            margin-top:0;
            pointer-events: none;
           
        }
    }
     .contact-body{
        background-color: rgba(34, 34, 34, 0.918); 
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        form{
            display: flex;
            flex-direction: column;
            justify-items: center;

            div{
                display: flex;
                justify-content: space-between;
                margin:.5em 0em .5em 0em;
                label{
                    font-size: 1em;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    // min-height:4em;
                            input{
                                // border:none;
                              
                                height:1.8em;
                                padding:.2em;
                                outline:none;
                                border-top:none;
                                border-left:none;
                                border-right:none;
                                background-color:transparent;
                                border: 2px soild white;
                                color:white;
                            }
                            .email-true{
                                border-bottom:2px solid red;
                            }
    
                            .subject-true{
                                border-bottom:2px solid red;
                            }
                            .email-false{
                                border-bottom:2px solid rgb(6, 214, 6);
                            }
    
                            .subject-false{
                                border-bottom:2px solid rgb(6, 214, 6);
                            }
                            .static-email{
                                pointer-events: none;
                                border-bottom:2px solid rgb(6, 214, 6);
                            }
                            textarea{
                                border:none;
                                padding:.3em;
                                background-color:rgb(236, 236, 236);
                                
                                
                            }
                           
                        }
               
            }
                    .send-button{
                        align-self: flex-end;
                        button{
                            margin:1em;
                            background-color:rgb(211, 63, 63);
                            border:none;
                            color:rgba(255, 255, 255, 0.89);
                            padding: 1.5em 2em 1.5em 2em;
                            border-radius: .5em;
                            outline:none;
                            
                        }
                        button:hover{
                            background-color:rgb(6, 214, 6);
                            color:black;

                        }
           
            }
        }
        }   
     
}


@media screen and (min-width:1024px){
    .contact-container{
        .contact-title{
          
            justify-content: center;
            h2{ 
                color:rgb(0, 0, 0);
                position: relative;
                top:0;
                right:0;
                margin-top:0;
                padding:.1em 5em .1em 5em;
                border-bottom-left-radius: 4em;
                border-bottom-right-radius: 4em;
                animation-name:contactTitle;
                animation-duration: .6s;
            }
       
            @keyframes contactTitle{
                0%{top:-3em;}
                100%{top:0em;}
                }
            }
        .contact-body{
            min-width: 40em;
            margin: 1em 27em 1em 27em;
            padding:3em;
            animation-name:contactBody;
            animation-duration: .6s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
            form{
                div{
                    div{
                        input{
                            width:25em;
                        }
                        textarea{
                            width:24.2em;
                            height:10em;
                        }
                        span{
                            max-width:20em;
                            max-height:2em;
                            color:rgb(240, 158, 65);
                        }
                    }
                }
            }
            
        }
    }
        @keyframes contactBody {
            // 0%{}
            // 100%{margin:0; }
            0%{}
            100%{}
            
            
        }
    }
    
    //mobile and tablet
    @media screen and (max-width:1024px){
        .contact-container{
            
            overflow-y: scroll;
            .contact-title{
                margin-top:3em;
                flex-direction: row-reverse;
                h2{ 
                    display: none;
                }
            }
            .contact-body{
                margin: 1em 1em 1em 1em;
                animation-name:contactBody;
                padding:.5em;
                animation-duration: .6s;
                animation-fill-mode: forwards;
                form{
                    font-size: 1em;
                    div{
                        label{
    
                        }
                        div{
                            input{
                                width:50vw;
                            }
                            textarea{
                                width:50vw;
                                height:10em;
                            }
                            span{
                                max-width:100%;
                                color:rgb(240, 158, 65);
                            }
    
                        }
                    }
                }
               
            }
            @keyframes contactBody {
                // 0%{margin:0; padding:1em 1em 1em 1em;}
                // 100%{ margin: 1em 1em 1em 1em; padding:1;}
              
            }
        }
        
    }
            .required-star{
                color:red;
            }