
$bar-color:black;
//desktop
@media screen and (min-width:1024px){

    .navbar-container{
        //togglebutton
        .navbar-button{
            .navbar-toggle{
                position: absolute;
                top:1em;
                left:1em;
                color:rgba(255, 255, 255, 0.829);
                background-color:transparent;
                border:none;
                outline:none;
                z-index: 9999;
                font-size: 2em;
                
            }
            .navbar-toggle:hover{
                color:white;
            }
            .navbar-toggle-open{
                animation-name:toggleOpen;
                animation-duration:.6s;
            }
            @keyframes toggleOpen {
                0%{top:-3em;}  
                // 0%{top:1em;}  
                50%{top:-3em;}  
                100%{top:1em;}
    
            }
            .navbar-toggle-close{
                
                animation-name:toggleClose;
                animation-duration:.6s;
            }
            @keyframes toggleClose {
                0%{top:1em};
                50%{top:-3em}
                100%{top:1em};
            }
        }
    
    
        //Navlinks
        .navlinks-container{
            position: absolute;
            background-color:rgb(0, 0, 0);
            height:100vh;
            width:12em;
            z-index: 9998;
            ul{ 
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                margin-top:5em;
                padding: 0;
                li{  
                    display:flex;
            
                    a{ 
                       padding: 1em 3.6em 1em 3em;
                       text-decoration: none;
                       color:rgb(216, 216, 216);  
                       outline: none;
                       display: flex;
                       i{
                           font-size: 1em;
                           padding-right:.2em;
                       }
                    }
                    a:hover{
                        color:white;
                        background-color:rgba(0, 0, 0, 0.712);
    
        
                    }
                    a.active{
                        background-color:rgb(   34, 34, 34);
                        color:white;
                    }
    
                }
            }
        }
    }
    
    .navlinks-container-open{
        animation-name:navlinksOpen;
        animation-duration: .6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    
    }
    
    @keyframes navlinksOpen{
        0%{display: none; left:-12em;}
        100% {left:0;}
    }
    
    .navlinks-container-close{
        animation-name:navlinksClose;
        animation-duration: .6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        
    
    }
    @keyframes navlinksClose{
        0% {left:0;}
        100%{left:-12em;}
    }
}

@media screen and (max-width:1024px){
    .navbar-container{
        //togglebutton
        .navbar-button{
            .navbar-toggle{
                display: none;
            }
        }
    }
    .navlinks-container{
        position: absolute;
        background-color:rgb(0, 0, 0);
        height:3em;
        z-index: 9998;
        width:100vw;
        ul{ 
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 0;
            padding: 0;
            li{  
                display:flex;
                a{ 
                   padding: 1em 1.4em 1em 1.4em;
                   text-decoration: none;
                   color:rgb(216, 216, 216);  
                   outline: none;
                   i{
                       padding-right:.5em;
                   }
                }
                a:hover{
                    color:rgb(0, 0, 0);
                    background-color:rgb(194, 194, 194);

    
                }
                a.active{
                    background-color:rgb(   34, 34, 34);
                    color:white;
                    border-bottom: 2px solid white;
                }

            }
        }
    }


}