.snackbar-notification{
    position: absolute;
    top:5.8em;;
    right:0;
   
    color:rgb(226, 226, 226);
    width:24%;
    height:auto;
    padding :1em;
    z-index: 9999;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    font-size: .7em;
    display: flex;
   
}

.snackbar-notification-show{
    animation-name: snackbarShow;
    animation-timing-function: 2s;
    background-color:rgb(6, 214, 6);

}
@keyframes snackbarShow{
    0%{right:-5em;}
    100%{right:0;}
}

.snackbar-notification-hide{
    display: none;
}